.product-card {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 60px 20px 20px 20px;
  //   background-color: #fff;
  //   box-shadow: rgba(0, 0, 0, 0.08) 8px 8px 16px 0px;
  .product-image {
    width: 50%;
    height: 50%;
    border-radius: 20px;
  }
  .product-title {
    margin: 15px 0px 0px 0px;
    font-size: 14px;
  }
  .product-description {
    margin: 10px 0px 0px 0px;
    font-size: 14px;
  }
  .button {
    padding: 7px 10px;
    background: #0071e3;
    color: white;
    box-shadow: none;
    border-radius: 200px;
    border-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    cursor: pointer;
  }
}
