.product-list-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 30px;
}

@media screen {
}

@media screen and (max-width: 1200px) {
  .product-list-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1000px) {
  .product-list-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 720px) {
  .product-list-section {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.home-page {
  display: flex;
  .filters-section {
    min-width: 20%;
  }
}
